COMPOSE_FILE=docker-compose.yml;docker-compose.dev.yml

MIX_ENV=dev

PHX_SERVER=true
PHX_HOST=0.0.0.0
DB_PORT_MAPPING=5432:5432
APP_PORT_MAPPING=4000:4000
GATEWAY_PORT_MAPPING=8080:8080

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=fleet_tracking_dev
DATABASE_URL=postgresql://postgres:postgres@db:5432/fleet_tracking_dev

SECRET_KEY_BASE=paste_your_generated_secret_key_base_here_at_least_64_chars
TOKEN_SIGNING_SECRET=paste_another_generated_secret_here

ASH_POLICIES_SHOW_BREAKDOWN=true
OBAN_QUEUES=default=10

APP_VOLUME_SYNC=./core-ash:/app

NATS_URL=nats://fleet_nats:4222
NATS_SUBJECT=vehicle.tracking


CORE_BASE_URL=http://app:4000/api

GPS_IDS=uuid-1111-1111,uuid-2222-2222,uuid-3333-3333
SIM_TICK_RATE=3s

GATEWAY_BASE_URL=http://fleet_gateway:8080
