MIX_ENV=dev

PHX_SERVER=true
PHX_HOST=localhost
DB_PORT_MAPPING=5432:5432
APP_PORT_MAPPING=4000:4000
GATEWAY_PORT_MAPPING=8080:8080

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=fleet_tracking_dev
DATABASE_URL=ecto://postgres:postgres@db:5432/fleet_tracking_dev
POOL_SIZE=10

SECRET_KEY_BASE=paste_your_generated_secret_key_base_here_at_least_64_chars
TOKEN_SIGNING_SECRET=paste_another_generated_secret_here

ASH_POLICIES_SHOW_BREAKDOWN=true
OBAN_QUEUES=default=10

APP_VOLUME_SYNC=./core-ash:/app