/pgdata/
/postgres_data/
.env
.env.test
.env.*.local
.docker-build/

**/bin/
/go/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
go.work.sum

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*~
*.swp

*.log
/tmp/