<header class="px-4 sm:px-6 lg:px-8 bg-gray-900 text-white shadow-lg">
  <div class="flex items-center justify-between py-4 max-w-7xl mx-auto">
    <div class="font-bold text-2xl tracking-tight">FLEET TRACKER</div>
  </div>
</header>

<main class="px-4 py-10 sm:px-6 lg:px-8 bg-gray-50 min-h-screen">
  <div class="mx-auto max-w-7xl">
    <%= @inner_content %>
  </div>
</main>